<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Index page</title>
</head>

<body>
    <h1>This is my page</h1>
    <p>
        This is first paragraph
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet commodi deserunt enim impedit, in itaque magnam magni mollitia natus praesentium, ratione sint sunt. Aut debitis delectus quaerat quasi ratione!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur debitis dicta error ex explicabo libero magni, mollitia non placeat possimus quam qui quisquam rem sapiente soluta tenetur. Dolorum, vel.
    </p>
</body>